<form method="post" action="{{ path('app_scenario_delete', {'id': scenario.id}) }}" onsubmit="return confirm('Voulez-vous vraiment surppimer ce scénario ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ scenario.id) }}">
    <button class="create-button">Supprimer</button>
</form>
