{% extends 'base.html.twig' %}

{% block title %}Space Unicorn Admin{% endblock %}

{% block body %}
{{ include('admin/_header.html.twig') }}

    <h1 class="scenario__titre">Scénario</h1>
    <div style="width: 100%; display: flex; justify-content: center; margin-bottom: 20px;">
    <a href="{{ path('app_scenario_new') }}" class="create-button">Créer un scénario</a>
    </div>

    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for scenario in scenarios %}
            <tr>
                <td>{{ scenario.id }}</td>
                <td>{{ scenario.nom }}</td>
                <td style="display: flex;">
                    <a href="{{ path('app_scenario_show', {'id': scenario.id}) }}" class="create-button">Voir</a>
                    <a href="{{ path('app_scenario_edit', {'id': scenario.id}) }}" class="create-button">Modifier</a>
                    {{ include('scenario/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
