{% extends 'base.html.twig' %}

{% block title %}Space Unicorn Admin{% endblock %}

{% block body %}
{{ include('admin/_header.html.twig') }}

    <h1 class="scenario__titre">Créer un scénario</h1>

    {{ include('scenario/_form.html.twig') }}

    <div style="width: 100%; display: flex; justify-content: center; margin-top: 20px;">
    <a href="{{ path('app_scenario_index') }}" class="create-button">Retour à la liste</a>
    </div>
{% endblock %}
