{% extends 'base.html.twig' %}

{% block title %}Space Unicorn Admin{% endblock %}

{% block body %}
{{ include('admin/_header.html.twig') }}

    <h1 class="scenario__titre">Scenario</h1>

    <table class="table table-success table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ scenario.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ scenario.nom }}</td>
            </tr>
        </tbody>
    </table>

    <div style="width: 100%; display: flex; justify-content: center; margin-top: 20px;">
        <a href="{{ path('app_scenario_index') }}" class="create-button" style="margin-right:10px">Retour à la liste</a>
        <a href="{{ path('app_scenario_edit', {'id': scenario.id}) }}" class="create-button" style="margin-right:10px">Modifier</a>
        {{ include('scenario/_delete_form.html.twig') }}
    </div>


{% endblock %}
