{% extends 'base.html.twig' %}

{% block title %}Space Unicorn{% endblock %}

{% block body %}
<div class="home">
    <div class="home__background"></div>
    <div class="home__licorne">
        {{include('home/_home_licorne.html.twig')}}
    </div>
</div>
{% endblock %}
