{% extends 'base.html.twig' %}

{% block title %}Leaderboard{% endblock %}

{% block body %}
    {% for licorne in licornes %}

    {% if licorne.pdv <= 0 %}
            <div class="perduuuu"></div>
            <div class="lost-page">
                <h1>Oh non! Votre licorne a perdu!</h1>
                <p>Malheureusement, la licorne n'a plus de points de vie.</p>
                <p>Mais ne vous inquiétez pas, vous pouvez recommencer l'aventure!</p>
                <h2><a href="{{ path('app_home') }}">Recommencer l'aventure</a></h2>
            </div>
    {% else %}
    <div class="home__background"></div>
    <div class="blocWin">
        <h1 style>Classement des Licornes</h1>
        <table class="table table-success table-striped">
            <thead class="blocWin_thead">
                <tr class="blocWin_tr">
                    <th class="blocWin_th">Nom de la licorne</th>
                </tr>
            </thead>
            {% if reussite %}
            <h1>{{reussite}}</h1>
            {% endif %}
            <tbody class="blocWin_tbody">
            {% for leaderboard in leaderboards %}
                <tr class="blocWin_tr">
                    <td class="blocWin_td">{{leaderboard.nom}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if licorne  %}
            <a href="{{ path('app_home')}}" class="btn">Recommencer une partie</a>
        {% endif %}
</div>
        
</div>

    {% endif %}

    {% endfor %}


{% endblock %}
