<form method="post" action="{{ path('app_choix_delete', {'id': choix.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce choix ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ choix.id) }}">
    <button class="create-button">Supprimer</button>
</form>
