{% extends 'base.html.twig' %}

{% block title %}Space Unicorn Admin{% endblock %}

{% block body %}
{{ include('admin/_header.html.twig') }}

    <h1 class="choix__titre">Choix</h1>
    <div style="width:100%;justify-content:center;display:flex;padding-bottom:20px;">
        <a href="{{ path('app_choix_new') }}" class="create-button">Créer un choix</a>
    </div>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Pv_perdus</th>
                <th>Pv_gagnes</th>
                <th>Endurance</th>
                <th>Puissance</th>
                <th>Intelligence</th>
                <th>Esquive</th>
                <th>Scenario</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for choix in choixes %}
            <tr>
                <td>{{ choix.id }}</td>
                <td>{{ choix.nom }}</td>
                <td>{{ choix.description }}</td>
                <td>{{ choix.pvPerdus }}</td>
                <td>{{ choix.pvGagnes }}</td>
                <td>{{ choix.endurance }}</td>
                <td>{{ choix.puissance }}</td>
                <td>{{ choix.intelligence }}</td>
                <td>{{ choix.esquive }}</td>
                <td>{{ choix.scenario }}</td>
                <td>
                    <a href="{{ path('app_choix_show', {'id': choix.id}) }}" class="create-button">Voir</a>
                    <a href="{{ path('app_choix_edit', {'id': choix.id}) }}" class="create-button">Modifier</a>
                    {{ include('choix/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
