{% extends 'base.html.twig' %}

{% block title %}Space Unicorn Admin{% endblock %}

{% block body %}
{{ include('admin/_header.html.twig') }}

    <h1 class="choix__titre">Créer un choix</h1>

    {{ include('choix/_form.html.twig') }}
    <div style="width:100%; justify-content:center; display:flex; margin-top: 20px;">
        <a class="create-button" href="{{ path('app_choix_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
