{% extends 'base.html.twig' %}

{% block title %}Space Unicorn Admin{% endblock %}

{% block body %}
{{ include('admin/_header.html.twig') }}

    <h1 class="choix__titre">Choix</h1>

    <table class="table table-success table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ choix.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ choix.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ choix.description }}</td>
            </tr>
            <tr>
                <th>Pv_perdus</th>
                <td>{{ choix.pvPerdus }}</td>
            </tr>
            <tr>
                <th>Pv_gagnes</th>
                <td>{{ choix.pvGagnes }}</td>
            </tr>
            <tr>
                <th>Endurance</th>
                <td>{{ choix.endurance }}</td>
            </tr>
            <tr>
                <th>Puissance</th>
                <td>{{ choix.puissance }}</td>
            </tr>
            <tr>
                <th>Intelligence</th>
                <td>{{ choix.intelligence }}</td>
            </tr>
            <tr>
                <th>Esquive</th>
                <td>{{ choix.esquive }}</td>
            </tr>
        </tbody>
    </table>
    <div style="width:100%; justify-content:center; display:flex; margin-top: 20px;">
    <a class="create-button" href="{{ path('app_choix_index') }}" style="margin-right:10px;">Retour à la liste</a>
    <a class="create-button" href="{{ path('app_choix_edit', {'id': choix.id}) }}" style="margin-right:10px;">Modifier</a>
    {{ include('choix/_delete_form.html.twig') }}
    </div>
{% endblock %}
