{% extends 'base.html.twig' %}

{% block title %}Space Unicorn{% endblock %}

{% block body %}
    {% for licorne in licornes %}

        <div>
            {% if licorne.pdv <= 0 %}
                <div class="perduuuu"></div>
            <div class="lost-page">
                <h1>Oh non! Votre licorne a perdu!</h1>
                <p>Malheureusement, la licorne n'a plus de points de vie.</p>
                <p>Mais ne vous inquiétez pas, vous pouvez recommencer l'aventure!</p>
                <h2><a href="{{ path('app_home') }}">Recommencer l'aventure</a></h2>
            </div>
            {% else %}
                {% if planetes[p].id == 2 %}
                    <div class="game__prismara"><div>
                {% elseif planetes[p].id == 3 %}
                    <div class="game__feelandia"><div>
                {% endif %}
                <div class="stats-container">
                    <h2>{{ licorne.nom }}</h2>
                   {{ licorne.pdv }} PV ( -{{ diffpv }} ) ( +{{ diffpvm }} )
                    <p> Endurance : {{ licorne.endurance }} ( +{{ diffendurance }} )</p>
                    <p> Puissance : {{ licorne.puissance }} ( +{{ diffpuissance }} )</p>
                    <p> Intelligence : {{ licorne.intelligence }} ( +{{ diffintelligence }} )</p>
                    <p> Esquive : {{ licorne.esquive }} ( +{{ diffesquive }} )</p>
                </div>

                <div class="game__bienvenue">
                    <h1>Cornjour {{ licorne.nom }}, bienvenue sur la planète {{ planetes[p].nom }}</h1>
                </div>
                <div class="game__description">
                    {{ planetes[p].description }}
                </div>

                {% set ScenariosPlanete = planetes[p].getScenarios() %}
                {% set idScenario = random(ScenariosPlanete|length-1) %}
                <div class="game__nomScenario">
                {{ ScenariosPlanete[idScenario].getNom() }}
                </div>

                {% if ScenariosPlanete[idScenario].getPlanete().getId() >= 2 %}
                <div class="game__ensembleChoix">
                    {% for choix in choixes %}
                    <div class="game__choixScenario">
                        {% if choix.getScenario().getId() == ScenariosPlanete[idScenario].id %}
                            <a class="btn" href="{{ path('app_licorne_consequence_choice',
                            {id: licorne.id,
                                pv: (choix.getPvPerdus() ? choix.getPvPerdus() : 0),
                                pvgagnes: (choix.getPvGagnes() ? choix.getPvGagnes() : 0),
                                endurance: (choix.getEndurance() ? choix.getEndurance() : 0),
                                puissance: (choix.getPuissance() ? choix.getPuissance() : 0),
                                intelligence: (choix.getIntelligence() ? choix.getIntelligence() : 0),
                                esquive: (choix.getEsquive() ? choix.getEsquive() : 0),
                                p: p
                            }) }}">{{ choix.nom }}</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                {% endif %}

            {% endif %}

        </div>

    {% endfor %}

{% endblock %}
