body {
    margin: 0;
    padding: 0;
}

.home__background {
    background-image: url('./img/background_img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.home__licorne {
    width: 300px;
    top: 40px;
    right: 60px;
    position: absolute;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.7;
}

h1 {
    text-align: center;
    color: #333;
}

.home__licorne label {
    display: none;
}

.home__licorne input {
    height: 35px;
}

.home__licorne input,
.home__licorne select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.home__licorne button {
    background-color: #555;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 60%;
    margin-left: 20%;
}

.home__licorne button:hover {
    background-color: #333;
}

.home__licorne ul {
    padding-left: 5px;
    margin: 0 0 10px;
}

.home__licorne li {
    list-style-type: none;
    color: red;
    font-size: 14px;
}

.blocWin{
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    background-color: bisque;
    opacity: 80%;
    width: 60%;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}

.blocWin_table, .blocWin_th, .blocWin_td {
    font-size: 30px;
    text-align: center; 
}

.login__label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.login__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login__button {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login__button:hover {
    background-color: #2980b9;
}

.login__background {
    background-image: url('./img/fond_admin.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.login__conteneur {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: auto;
    max-width: 350px;
    border-radius: 8px;
    top: 100px;
    transform: translateX(-50%);
    left: 50%;
}

.admin {
    position: relative;
    height: 100vh;
}

.admin__background {
    background-image: url('./img/fond_admin.jpeg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.admin__grosseDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
}

.admin__ensembleDiv {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.admin__div {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px; /* Espace entre les div */
    user-select: none;
}

.admin__div:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.game__licorne {
    width: 300px;
    top: 40px;
    right: 60px;
    position: absolute;
    background-color: #fff;
    height: 70px;
    display:flex;
    align-items:center;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.7;
}
.game__licorne2 {
    width: 300px;
    top: 120px;
    right: 60px;
    display:flex;
    align-items:center;
    height: 70px;
    position: absolute;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.7;
}

.game__licorne:hover, .game__licorne2:hover{
    transform: scale(1.05);
    transition: 1s;
}

.admin__div h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    margin-bottom: 15px;
    text-align: center;
    color: #333;
}

.admin__div ul {
    list-style-type: none;
    padding: 0;
}

.admin__div li {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.planete__titre {
    padding: 20px;
}

.scenario__titre {
    padding: 20px;
}

.choix__titre {
    padding: 20px;
}

.table {
    width: 80%;
    margin-left: 10%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table td {
    border: 1px solid rgb(185, 184, 184);
}

.table th {
    border: 1px solid rgb(185, 184, 184);
}

.table a {
    display: inline-block;
    padding: 8px 12px;
    margin-right: 8px;
    margin-bottom: 8px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.table a:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}

.create-button {
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    background-color: #4caf50; /* Couleur de fond verte */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    height: 50px;
}

.header {
    background-color: #333;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.game__feelandia {
    background-image: url('./img/feelandia.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.game__prismara {
    background-image: url('./img/prismara.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.game__licornia {
    background-image: url('./img/licornia.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.perduuuu {
    background-image: url('./img/licorne_blesse.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Ajoutez ces styles à votre feuille de style CSS */

div.stats-container {
    
    background-color: #d1d1d1; /* Couleur de fond */
    border: 5px solid grey; /* Bordure légère */
    border-radius: 10px; /* Coins arrondis */
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif; /* Police de caractères */
    width: auto;
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: 0.8;
    color: #333333; /* Couleur du texte */
  }
  
  div.stats-container h2 {
    font-size: 24px; /* Taille de la police pour le titre */
    margin-bottom: 10px; /* Espace en bas du titre */
    width: 100%;
  }
  
  div.stats-container p {
    margin: 5px 0;
    font-size: 16px; /* Taille de la police pour les paragraphes */
    width: 100%;
  }
  
  .game__bienvenue h1{
    padding: 0;
    text-align: center;
    color: #333;
    margin: 0;
  }
  .game__bienvenue{
    margin-top: 20px;
    position: absolute;
    background-color: #d1d1d1; /* Couleur de fond */
    border: 5px solid grey; /* Bordure légère */
    border-radius: 10px; /* Coins arrondis */
    width: auto;
    left: 50%;
    opacity: 0.8;
    height: auto;
    display: flex;
    justify-content: center;
    transform: translateX(-60%);
    font-size: large;
  }

  .game__description {
    width: 50%;
    margin-top: 13%;
    position: absolute;
    background-color: #d1d1d1; /* Couleur de fond */
    border: 5px solid grey; /* Bordure légère */
    opacity: 0.8;
    padding: 12px;
    height: auto;
    display: flex;
    justify-content: center;
    transform: translateX(-60%);
    font-size: 15px;
    border-radius: 10px; /* Coins arrondis */
    width: auto;
    left: 50%;
  }

  .game__nomScenario{
    width: 20%;
    margin-top: 20px;
    position: absolute;
    background-color: #d1d1d1; /* Couleur de fond */
    border: 5px solid grey; /* Bordure légère */
    opacity: 0.8;
    right: 20px;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 12px;
    font-size: 15px;
    border-radius: 10px; /* Coins arrondis */
  }

  .game__choixScenario{
    width: 100%;
    margin-top: 20px;
    background-color: #d1d1d1; /* Couleur de fond */
    border-radius: 10px; /* Coins arrondis */
  }

  .game__ensembleChoix{
    height: 50px;
    width: 20%;
    position: absolute;
    opacity: 0.8;
    right: 20px;
    top: 120px; 
  }
  

.lost-page {
    text-align: center;
    margin-top: 50px;
    background-color: rgb(222, 222, 222);
    padding: 40px;
    border-radius: 25px;
    border: 3px solid grey;
    opacity: 0.8;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
  }
  
  .lost-page h1 {
    color: #ff6347; /* Couleur de texte rouge */
  }
  
  .lost-page p {
    margin: 10px 0;
    font-size: 18px;
    color: #333333; /* Couleur de texte grise */
  }
  
  .lost-page a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    background-color: #3498db; /* Couleur de fond bleue */
    color: #ffffff; /* Couleur de texte blanche */
    border-radius: 5px;
  }
  
  .lost-page a:hover {
    background-color: #2980b9; /* Couleur de fond bleue plus foncée au survol */
  }
  
  .blocWin{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }