<form method="post" action="{{ path('app_licorne_delete', {'id': licorne.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ licorne.id) }}">
    <button class="btn">Delete</button>
</form>
