{% extends 'base.html.twig' %}

{% block title %}Licorne index{% endblock %}

{% block body %}
    <h1>Licorne index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pdv</th>
                <th>Nom</th>
                <th>Endurance</th>
                <th>Puissance</th>
                <th>Intelligence</th>
                <th>Esquive</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for licorne in licornes %}
            <tr>
                <td>{{ licorne.id }}</td>
                <td>{{ licorne.pdv }}</td>
                <td>{{ licorne.nom }}</td>
                <td>{{ licorne.endurance }}</td>
                <td>{{ licorne.puissance }}</td>
                <td>{{ licorne.intelligence }}</td>
                <td>{{ licorne.esquive }}</td>
                <td>
                    <a href="{{ path('app_licorne_show', {'id': licorne.id}) }}">show</a>
                    <a href="{{ path('app_licorne_edit', {'id': licorne.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_licorne_new') }}">Create new</a>
{% endblock %}
