{% extends 'base.html.twig' %}

{% block title %}Hello Game2Controller!{% endblock %}

{% block body %}

    <h1>Victoire !</h1>

    <a href="{{ path('app_licorne_victory', {nom: licorne.nom}) }}">Ajouter la licorne</a>

{% endblock %}
