{% block body %}
<div class="header">
    <nav>
        <ul>
            <li><a href="{{ path('app_admin') }}">Accueil</a></li>
            <li><a href="{{ path('app_planete_index') }}">Planètes</a></li>
            <li><a href="{{ path('app_scenario_index') }}">Scénarios</a></li>
            <li><a href="{{ path('app_choix_index') }}">Choix</a></li>
        </ul>
    </nav>
</div>
{% endblock %}
