{% extends 'base.html.twig' %}

{% block title %}Space Unicorn Admin{% endblock %}

{% block body %}
{{ include('admin/_header.html.twig') }}
<div class="admin">
    <div class="admin__background"></div>
    <div class="admin__grosseDiv">
        <h1>Administration</h1>
        <div class="admin__ensembleDiv">
            <a href="{{ path('app_planete_index') }}" class="admin__div admin__planete">
                <h2>Gérer les planètes</h2>
                <ul>
                    <li>Voir les planètes</li>
                    <li>Modifier une planète</li>
                </ul>
            </a>
            <a href="{{ path('app_scenario_index') }}" class="admin__div admin__scenario">
                <h2>Gérer les scénarios</h2>
                <ul>
                    <li>Voir les scénarios</li>
                    <li>Supprimer un scénario</li>
                    <li>Modifier un scénario</li>
                    <li>Créer un scénario</li>
                </ul>
            </a>
            <a href="{{ path('app_choix_index') }}" class="admin__div admin__choix">
                <h2>Gérer les choix</h2>
                <ul>
                    <li>Voir les choix</li>
                    <li>Supprimer un choix</li>
                    <li>Modifier un choix</li>
                    <li>Créer un choix</li>
                </ul>
            </a>
        </div> 
    </div>
</div>
{% endblock %}
