{% block body %}
    <a href="{{ path('app_game_start') }}" class="game__licorne">
        <div>Commencer l'aventure</div>
    </a>
    <a href="{{ path('app_leaderboard_show') }}" class="game__licorne2">
        <div>Leaderboard</div>
    </a>
{% endblock %}