{% extends 'base.html.twig' %}

{% block title %}Space Unicorn{% endblock %}

{% block body %}
<div class="game">
        <div class="home__background"></div>
        {{include('game/_game.html.twig')}}
</div>

{% endblock %}
