{% extends 'base.html.twig' %}

{% block title %}Space Unicorn{% endblock %}

{% block body %}
    <div class="game__licornia"><div>
    {% for licorne in licornes %}

        <div>
            {% if licorne.pdv <= 0 %}

                PERDUS

                <h2><a href="{{ path('app_home') }}">Recommencer l'aventure</a></h2>

            {% else %}

                <div class="stats-container">
                    <h2>{{ licorne.nom }}</h2>
                    <p>{{ licorne.pdv }} PV</p>
                    <p>Endurance : {{ licorne.endurance }}</p>
                    <p>Puissance : {{ licorne.puissance }}</p>
                    <p>Intelligence : {{ licorne.intelligence }}</p>
                    <p>Esquive : {{ licorne.esquive }}</p>
                </div>
                <div class="game__bienvenue">
                    <h1>Cornjour {{ licorne.nom }}, bienvenue sur la planète {{ planetes[0].nom }}</h1>
                </div>
                <div class="game__description">
                    {{ planetes[0].description }}
                </div>  
                {% set ScenariosPlanete = planetes[0].getScenarios() %}
                {% set idScenario = random(ScenariosPlanete|length-1) %}

                <div class="game__nomScenario">
                {{ ScenariosPlanete[idScenario].getNom() }}
                </div>

                {% if scenarios[idScenario].getPlanete().getId() == 1 %}
                <div class="game__ensembleChoix">
                    {% for choix in choixes %}
                        <div class="game__choixScenario">
                            {% if choix.getScenario().getId() == scenarios[idScenario].id %}
                            <a class="btn" href="{{ path('app_licorne_consequence_choice',
                                    {id: licorne.id,
                                        pv: (choix.getPvPerdus() ? choix.getPvPerdus() : 0),
                                        pvgagnes: (choix.getPvGagnes() ? choix.getPvGagnes() : 0),
                                        endurance: (choix.getEndurance() ? choix.getEndurance() : 0),
                                        puissance: (choix.getPuissance() ? choix.getPuissance() : 0),
                                        intelligence: (choix.getIntelligence() ? choix.getIntelligence() : 0),
                                        esquive: (choix.getEsquive() ? choix.getEsquive() : 0)
                                    }) }}">{{ choix.nom }}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}

            {% endif %}

        </div>

    {% endfor %}

{% endblock %}