<form method="post" action="{{ path('app_planete_delete', {'id': planete.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ planete.id) }}">
    <button class="btn">Delete</button>
</form>
