{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.description) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<style>
    form {
        max-width: 400px;
        margin: 0 auto;
        background-color: #f4f4f4;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>