{% extends 'base.html.twig' %}

{% block title %}Space Unicorn Admin{% endblock %}

{% block body %}
{{ include('admin/_header.html.twig') }}

    <h1 class="planete__titre">Modifier planètes</h1>
    {{ include('planete/_form.html.twig', {'button_label': 'Modifier', 'attr': {'class': 'create-button'}}) }}
    <div style="width: 100%; display: flex; justify-content: center; margin-top: 20px;">
    <a href="{{ path('app_planete_index') }}" class="create-button">Retour à la liste</a>
    </div>
{% endblock %}