{% extends 'base.html.twig' %}

{% block title %}Space Unicorn Admin{% endblock %}

{% block body %}
{{ include('admin/_header.html.twig') }}

    <h1 class="planete__titre">Créer une planète</h1>

    {{ include('planete/_form.html.twig') }}

    <a href="{{ path('app_planete_index') }}" class="create-button">retour à la liste</a>
{% endblock %}
