{% extends 'base.html.twig' %}

{% block title %}Space Unicorn Admin{% endblock %}

{% block body %}
{{ include('admin/_header.html.twig') }}

    <h1 class="planete__titre">Planètes</h1>

    <table class="table table-success table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planete.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ planete.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ planete.description }}</td>
            </tr>
        </tbody>
    </table>
    <div style="width: 100; display:flex; justify-content: center;">
    <a style=" margin-right: 10px" href="{{ path('app_planete_index') }}" class="create-button">Retour à la liste</a>
    <a href="{{ path('app_planete_edit', {'id': planete.id}) }}" class="create-button">Modifier</a>
    </div>
{% endblock %}
