{% extends 'base.html.twig' %}

{% block title %}Connexion administrateur{% endblock %}

{% block body %}
    <div class="login">
        <div class="login__background"></div>
        <div class="login__conteneur">
            <h1>Connexion admin</h1>
            <form class="admon__form" action="{{ path('app_login') }}" method="post">
                <label for="username" class="login__label">Username:</label>
                <input type="text" class="login__input" id="username" name="_username" value="{{ last_username }}">

                <label for="password" class="login__label">Password:</label>
                <input type="password" class="login__input" id="password" name="_password">

                <input type="hidden" class="login__input" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button type="submit" class="login__button">Login</button>
            </form>
        </div>
    </div>
{% endblock %}